<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles/main.css">
    <title>后台管理</title>
</head>

<body>
    <div>
        <header class="header-bar">
            <img src="http://p1.bqimg.com/567571/b917b3d73b0e1da7.png" alt="">
        </header>
        <nav class="navbar navbar-default">
            {% include './main.navbar.html' %}
        </nav>
    </div>
    <div class="container container-fluid">
        <div class="row">
            <main class="col-md-8">
                {% block main%} {% endblock %}
            </main>
            <aside class="col-md-4">
                {% include './main.aside.html' %}
            </aside>
        </div>
    </div>
    <footer></footer>

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/js/vue.min.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>